/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* float left */
.clear {
    clear: both;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

/* Global */
body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    line-height: 2.5em;
    -webkit-font-smoothing: antialiased;
}

.header {
    background: url(../images/home.jpg) no-repeat 0em 0em fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 10;
}

header {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    color: #ffffff;
    text-align: center;
    font-size: 19em;
    line-height: 0.1em;
}

.bg_mask {
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.09) url(../images/pattern.png) repeat top left;
    z-index: 2;
    padding: 10% 0 0% 0;
}

.wrap {
    width: 80%;
    margin: auto;
    font-family: 'Alegreya SC', Georgia, serif;
    font-size: 0.1em;
}

header p {
    max-width: 55%;
    margin: 3% auto 3% auto;
}

header h1 {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0.5em;
}

header h2 {
    font-size: 0.8em;
    line-height: 2em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0.5em;
}

header h6 {
    border-bottom: 0.05em solid #fff;
    width: 10em;
    height: 0em;
    margin: 0 auto;
}

.nav_wrapper {
    width: 100%;
    position: relative;
    background: #FFFFFF;
    border-bottom: 0.05em solid #E9E9E9;
    z-index: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.seon {
    margin: 0;
    display: block;
    font-family: 'Times New Roman';
    font-size: 18em;
    line-height: 4.5em;
    text-shadow: none;
    color: black;
}

.sub_main {
    font-family: 'Times New Roman', cursive;
    font-size: 0.6em
}

.button {
    padding: 1em 2em;
    text-align: center;
    display: block;
    margin: 10% 0% 0% 0%;
}

.button:hover {
    opacity: 0.8;
}

/**********about****************/
.about {
    text-align: center;
    padding: 2em 2em;
}

.about h2 {
    color: #303030;
    font-size: 3.7em;
    font-weight: 600;
}

.about span, .services span {
    color: #39A38F;
}

.about h4 {
    color: #979797;
    font-size: 15em;
    padding: 0.5em 0em 0.5em 0em;
}

.about h6, .services h6, .team h6, .section-title h6, .contact h6 {
    width: 150em;
    margin: 0 auto;
}

.about p {
    color: #979797;
    width: 56.5%;
    margin: 0 auto;
    padding: 2em 0em;
}

.top-grids {
    margin: 2em 0;
    position: relative;
}

.top-grid {
    width: 31.9%;
    float: left;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 3em;
}

.top-grid a.icon, .grid_of_1 a.icon, .service_grids a.icon, .c_grids a.icon {
    width: 61em;
    height: 61em;
    display: inline-block;
    text-align: center;
}

.top-grid a {
    font-size: 1.5em;
    color: #232323;
    display: block;
}

.top-grid p {
    color: #838383;
    line-height: 1.6em;
    font-size: 0.96em;
    width: 85%;
    margin: 0 auto;
    padding: 0.6em 0em;
}

.footer {
    background: #D8D8D8;
}

.footer-left {
    float: left;
    padding: 1em 1em;
}

.footer-right {
    float: right;
}

.copy {
    text-transform: lowercase;
    font-weight: bold;
    font-size: 12em;
    color: #979797;
}

.copy p a:hover {
    color: #979797;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    overflow: hidden;
    width: 44%;
    height: 4%;
    border: none;
    background: url(../images/top_move.png) no-repeat right top;
}

.da-thumbs li {
    float: left;
    margin: 0.5em;
    background: #fff;
    padding: 0.8em;
    position: relative;
}

.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
}

.da-thumbs li a {
    overflow: hidden;
}

.da-thumbs li a div {
    position: absolute;
    background: #333;
    background: rgba(75, 75, 75, 0.7);
    width: 100%;
    height: 100%;
}

.da-thumbs li a div span {
    display: block;
    padding: 1em 0;
    margin: 7em 3em 3em 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1000%;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 3em 3em 3em rgba(0, 0, 0, 0.2);
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.5);
}