*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


a{
    color: #979797;
    text-decoration: none;
    font-family: Trattatello, fantasy;
    font-size:2em;
}
.container{
    width: 80%;
    position: relative;
    min-height: 750px;
}
.clr{
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.clear {
    clear: both;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/

ol, ul {
    list-style: none;
}

/* Global */
body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    line-height: 2.5em;
    -webkit-font-smoothing: antialiased;
}

.header {
    background: url(../images/home.jpg) no-repeat 0em 0em fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 10;
}

header {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    color: #ffffff;
    text-align: center;
    font-size: 19em;
    line-height: 0.1em;
}

.bg_mask {
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.09) url(../images/pattern.png) repeat top left;
    z-index: 2;
    padding: 10% 0 0% 0;
}

.wrap {
    width: 80%;
    margin: auto;
    font-family: 'Alegreya SC', Georgia, serif;
    font-size: 0.1em;
}

header p {
    max-width: 55%;
    margin: 3% auto 3% auto;
}

header h1 {
    font-size: 1.3em;
    line-height: 2em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 3em;
    font-family: cursive;
}

header h2 {
    font-size: 1em;
    line-height: 2em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: cursive;
    margin-top: 3em;
}

header h6 {
    border-bottom: 0.05em solid #fff;
    width: 10em;
    height: 0em;
    margin: 0 auto;
}

.nav_wrapper {
    width: 100%;
    position: relative;
    background: #FFFFFF;
    border-bottom: 0.05em solid #E9E9E9;
    z-index: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.seon {
    margin: 0;
    display: block;
    font-family: 'Times New Roman';
    font-size: 18em;
    line-height: 4.5em;
    text-shadow: none;
    color: black;
}

.sub_main {
    font-family: 'Times New Roman', cursive;
    font-size: 0.6em
}

.button {
    padding: 1em 2em;
    text-align: center;
    display: block;
    margin: 10% 0% 0% 0%;
}

/**********about****************/
.about {
    text-align: center;
    padding: 2em 2em;
}

.about h4 {
    color: #979797;
    font-size: 15em;
    padding: 0.5em 0em 0.5em 0em;
}

.top-grids {
    margin: 3.5em 0;
    position: relative;
}

.top-grid {
    width: 31.5%;
    font-family: 'Avenir', sans-serif;
}

.top-grid a {
    font-size: 1.5em;
    color: #232323;
    display: block;
}

.footer {
    background: #282828;
}

.footer-left {
    float: left;
    padding: 1em 1em;
}

.footer-right {
    float: right;
}

.copy {
    font-weight: bold;
    font-size: 12em;
    color: #979797;
}

.copy p a:hover {
    color: #979797;
}

.da-thumbs li {
    float: left;
    margin: 0.5em;
    background: #fff;
    padding: 0.8em;
    position: relative;
}

.da-thumbs li a,
.da-thumbs li a img {
    overflow: hidden;
    display: block;
    position: relative;
    left:0em;
    top:0em
}

.da-thumbs li a div {
    position: absolute;
    background: rgba(75, 75, 75, 0.7);
    width: 100%;
    height: 100%;
}

.da-thumbs li a div span {
    display: block;
    padding: 1em 0;
    margin: 7em 3em 3em 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1000%;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 3em 3em 3em rgba(0, 0, 0, 0.2);
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.5);
}