
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* float left */
.clear {
    clear: both;
}

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/* Global */
body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

.header {
    background: url(../images/test.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

header {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    color: #ffffff;
    text-align: center;
    font-size: 19px;
    line-height: 28px;
}

.title {
    width: 331px;
    margin: 0 auto;
}

.bg_mask {
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.09) url(../images/pattern.png) repeat top left;
    z-index: 2;
    padding: 10% 0 0% 0;
}


.wrap {
    width: 80%;
    margin: auto;
    font-family: 'Alegreya SC', Georgia, serif;
    font-size: 20px;
}

header .wrap, .services_wrapper .wrap {
    z-index: 20;
}

header p {
    max-width: 535px;
    margin: 3% auto 3% auto;
}

header h1 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0.6em;
}

header h6 {
    border-bottom: 1px solid #fff;
    width: 170px;
    height: 1px;
    margin: 0 auto;
}

.nav_wrapper {
    width: 100%;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
    z-index: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nav_wrapper.sticky {
    position: fixed;
    top: 0px;
    height: 84px;
}

.Seon {
    margin: 0;
    display: block;
    font-family: 'Times New Roman';
    font-size: 1.8em;
    line-height: 115px;
    text-shadow: none;
    color:black;
}

.navigation a {
    text-transform: uppercase;
    color: #747474;
    font-size: 24px;
    text-decoration: none;
    padding: 0.5em 5em;
    display: block;
}

.button {
    padding: 25px 45px;
    text-align: center;
    display: block;
    margin: 10% 0% 0% 0%;
}

.button:hover {
    opacity: 0.8;
}


/**********about****************/
.about {
    text-align: center;
    padding: 2em 2em;
}

.about h2 {
    color: #303030;
    font-size: 3.7em;
    font-weight: 600;
}

.about span, .services span {
    color: #39A38F;
}

.about h4 {
    color: #979797;
    font-size: 1.2em;
    padding: 0.5em 0em 0.5em 0em;
}

.about h6, .services h6, .team h6, .section-title h6, .contact h6 {
    width: 150px;
    margin: 0 auto;
    border-bottom: 1px solid #cecccc;
}

.about p {
    color: #979797;
    width: 56.5%;
    margin: 0 auto;
    padding: 2em 0em;
}

.top-grids {
    margin: 2em 0;
    position: relative;
}

.top-grid {
    width: 31.9%;
    float: left;
    margin-right: 2%;
    text-align: center;
    padding-bottom: 3em;
}

.top-grid:nth-child(3), .top-grid:nth-child(6) {
    margin-right: 0px;
    border-right: 0;
}

.top-grid a.icon, .grid_of_1 a.icon, .service_grids a.icon, .c_grids a.icon {
    width: 61px;
    height: 61px;
    display: inline-block;
    padding: 0px;
    text-align: center;
}

.top-grid a {
    font-size: 1.5em;
    color: #232323;
    /*padding: 0.5em 0 0.6em 0;*/
    display: block;
}

.top-grid p {
    color: #838383;
    line-height: 1.6em;
    font-size: 0.96em;
    width: 85%;
    margin: 0 auto;
    padding: 0.6em 0em;
}

.footer {
    background: #D8D8D8;
}

.footer-left {
    float: left;
    padding: 1em 1em;
}
.footer-right {
    float: right;
}
.copy p {
    color: #979797;
    font-size: 1em;
}

.copy p a {
    color: #39A38F;
}

.copy p a:hover {
    color: #979797;
}


#toTop {
    display: none;
    /*text-decoration: none;*/
    position: fixed;
    bottom: 15px;
    right: 20px;
    overflow: hidden;
    width: 44px;
    height: 44px;
    border: none;
    background: url(../images/top_move.png) no-repeat right top;
}

/*****end-team*********/
/*****responsive******/


#contact {
    margin-top: 50px;
}

#result {
    visibility: hidden;
    margin-top: 50px;
}

/*.da-thumbs {*/
/*list-style: none;*/
/*width: 1084px;*/
/*height: 600px;*/
/*position: relative;*/
/*margin: 20px auto;*/
/*padding: 0;*/
/*}*/
.da-thumbs li {
    float: left;
    margin: 5px;
    background: #fff;
    padding: 8px;
    position: relative;
    /*box-shadow: 1 10px 3px rgba(0,0,0,0.1);*/
}

.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
}

.da-thumbs li a {
    overflow: hidden;
}

.da-thumbs li a div {
    position: absolute;
    background: #333;
    background: rgba(75, 75, 75, 0.7);
    width: 100%;
    height: 100%;
}

.da-thumbs li a div span {
    display: block;
    padding: 10px 0;
    margin: 150px 30px 30px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    /*box-shadow: 1 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255,255, 255, 0.3);*/
}